header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

.modo {
    bottom: 0;
    color: #AACCFF;
    font-size: 2em;
    position: absolute;
    text-align: right;
}

.img_l img {
    background-color: white;
    bottom: 0;
    position: absolute;
}

hr {
    background-color: #ddd;
    border: none;
    height: 1px;
    position: relative;
    margin-bottom: 0em;
}

body {
    background-color: #222233;
    color: #AACCFF;
}

header a {
    text-decoration: none !important;
    color: #AACCFF;
    background-image: url(./assets/supervisor_icon.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1.7em;
    height: 1.2em;
}

header a:hover {
    color: #AACCFF;
}
